snippet snippets "outputs all snippets for this language" b
comment
vcomment
endsnippet

snippet comment "creates a section comment" b
"============================================================================
"$1
"============================================================================
endsnippet

snippet vcomment "creates a variable comment section" b
"=======================================$1======================================
endsnippet
